<div class="d-flex justify-content-center">
    <div class="image-gif">
        <img class="img-fluid" src="assets/images/asking-questions.gif" alt="source">
    </div>
    <div class="title-block">
        <h1 class="text-center">Je veux jouer aux <i>QUIZZ</i> !</h1>
        <button routerLink="/welcome/valiny">QUESTION ALEATOIRE</button>
        <p class="text-center fs-6 opacity-75 my-3">Répondez correctement aux questions pour obtenir des <b>ZazaPoints</b> </p>
    </div>
</div>
<div class="Categories">
    <div class="Categorie">
        <span class="logo-category"><img src="assets/images/life-cat.gif" alt="cat"></span>
        <h2 class="fw-bold">Calculs</h2>
    </div>
    <div class="Categorie">
        <span class="logo-category"><img src="assets/images/physic.gif" alt="cat"></span>
        <h2 class="fw-bold">Physique</h2>
    </div>
    <div class="Categorie">
        <span class="logo-category"><img src="assets/images/bird-colors.gif" alt="cat"></span>
        <h2 class="fw-bold">Chimie</h2>
    </div>
    <div class="Categorie">
        <span class="logo-category"><img src="assets/images/spinning-globe.gif" alt="cat"></span>
        <h2 class="fw-bold">Geographie</h2>
    </div>
    <div class="Categorie">
        <span class="logo-category"><img src="assets/images/skeleton-dab.gif" alt="cat"></span>
        <h2 class="fw-bold">SVT</h2>
    </div>
    <div class="Categorie">
        <span class="logo-category"><img src="assets/images/reading-read.gif" alt="cat"></span>
        <h2 class="fw-bold">Histoire</h2>
    </div>
</div>