<div class="d-flex justify-content-around">
    <div class="image-gif">
        <img class="img-fluid mb-5" src="assets/images/phone.gif" alt="source">
        <span class="text-center">
            <h2>Rappelles-toi ! Sois gentil avec les autres.</h2>
        </span>
    </div>
    <div class="forum">
        <div class="messages">
            <p class="message"></p>
            <p class="message"></p>
            <p class="message"></p>
            <p class="message"></p>
        </div>
        <div class="envoyer">
            <input type="text" name="message" id="message">
            <button>Envoyer</button>
        </div>
    </div>

</div>