<div class="d-flex justify-content-around">
    <div class="image-gif">
        <img class="img-fluid mb-5" src="assets/images/phone.gif" alt="source">
        <span class="text-center">
            <h2>Rappelles-toi ! Sois gentil avec les autres.</h2>
        </span>
    </div>
    <div class="forum">
        <div class="messages d-flex flex-column align-items-center">
            <div class="message border border-2 p-1 my-2 shadow bg-light d-flex align-items-center justify-content-start"
                style="width: 80%;">
                <img src="assets/images/logo_p1.gif" class="img-fluid rounded-circle border" width="31" height="31">
                <div class="d-flex flex-column mx-2">
                    <span class="opacity-50" style="font-size: .6rem;">Nisaina</span>
                    <span class="">Salut ! Comment allez-vous ?</span>
                </div>
            </div>
            <div class="message border border-2 p-1 my-2 shadow bg-light d-flex align-items-center" 
                style="width: 80%;">
                <img src="assets/images/logo_p1.gif" class="img-fluid rounded-circle border" width="31" height="31">
                <div class="d-flex flex-column mx-2">
                    <span class="opacity-50" style="font-size: .6rem;">Dominick</span>
                    <span class="">Bonjour !</span>
                </div>
            </div>
            <div class="message border border-2 p-1 my-2 shadow bg-light d-flex align-items-center" 
                style="width: 80%;">
                <img src="assets/images/logo_p1.gif" class="img-fluid rounded-circle border" width="31" height="31">
                <div class="d-flex flex-column mx-2">
                    <span class="opacity-50" style="font-size: .6rem;">Nisaina</span>
                    <span class="">Bonjour !</span>
                </div>
            </div>
            <div class="message border border-2 p-1 my-2 shadow bg-primary d-flex align-items-center justify-content-start"
                style="width: 80%;">
                <img src="assets/images/logo_p1.gif" class="img-fluid rounded-circle border" width="31" height="31">
                <div class="d-flex flex-column mx-2">
                    <span class="opacity-50" style="font-size: .6rem;">Nisaina</span>
                    <span class="">Bonjour !</span>
                </div>
            </div>
        </div>
        <div class="envoyer my-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary d-flex" type="button" id="button-addon2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                    <span>Envoyer</span>
                </button>
            </div>
        </div>
    </div>

</div>