<header class="my-1 px-md-3 px-1 py-2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-7 d-flex justify-content-start">
                <div class="d-flex align-items-center logo" id="logo">
                    <span class="p-1 position-relative">
                        <img src="http://localhost:4200/assets/images/logo.png" alt="nodejs" 
                            class="mx-1" width="41" height="41">
                    </span>
                    <span class="fs-5 fw-bold mx-md-3 ms-2">Lahatra</span>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-end">
                <span><i>{{timeLeft}}</i> seconds left</span>
            </div>
        </div>
    </div>
</header>
