<div class="container-fluid" id="discussions">
    <div class="row justify-content-center py-3">
        <div class="col-md-6 col-12 mx-2 position-relative" style="height: 79vh;">
            <div class="border border-3 py-1 personne_messenger">
                <span class="mx-2">
                    <img src="assets/images/family-people.gif" class="img-fluid rounded-circle border" alt="" width="41" height="41">
                </span>
                <span class="fw-bold">RAVELONARIVO Lahatra Anjara</span>
            </div>
            <div class="border border-3 section_messenger position-relative px-2" style="height: 90%;">
                <div class="input-group mb-3 rounded-3" style="width: 91%">
                    <input type="text" class="form-control" placeholder="Message *" aria-label="Message *" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                        </svg>
                        <span class="mx-1">send</span>
                    </button>
                </div>
            </div>
        </div>
           
        <div class="col-md-5 col-12 mx-2 my-3 personnes_messengers">
            <ul class="list-group">
                <li class="list-group-item my-1 border rounded-3 shadow">
                    <span class="mx-1">
                        <img src="assets/images/family-people.gif" class="img-fluid rounded-circle border" alt="" width="53" height="53">
                    </span>
                    <span class="fw-bold mx-1">
                        RAVELONARIVO Lahatra Anjara
                    </span>
                </li>
                <li class="list-group-item my-1 border rounded-3 shadow">
                    <span class="mx-1">
                        <img src="assets/images/family-people.gif" class="img-fluid rounded-circle border" alt="" width="53" height="53">
                    </span>
                    <span class="fw-bold mx-1">
                        BOTORAVONY Arlème Johnson
                    </span>
                </li>
                <li class="list-group-item my-1 border rounded-3 shadow">
                    <span class="mx-1">
                        <img src="assets/images/family-people.gif" class="img-fluid rounded-circle border" alt="" width="53" height="53">
                    </span>
                    <span class="fw-bold mx-1">
                        DOMINICK Randriamanantena
                    </span>
                </li>
                <li class="list-group-item my-1 border rounded-3 shadow">
                    <span class="mx-1">
                        <img src="assets/images/family-people.gif" class="img-fluid rounded-circle border" alt="" width="53" height="53">
                    </span>
                    <span class="fw-bold mx-1">
                        NISAINA Nisaina
                    </span>
                </li>
                <li class="list-group-item my-1 border rounded-3 shadow">
                    <span class="mx-1">
                        <img src="assets/images/family-people.gif" class="img-fluid rounded-circle border" alt="" width="53" height="53">
                    </span>
                    <span class="fw-bold mx-1">
                        GAELLE Gaelle
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>