<div class="d-flex justify-content-center">
    <div class="image-gif">
        <img src="assets/images/asking.gif" alt="source">
    </div>
    <div class="question-block">
        <h1 class="text-center">Je veux poser une question</h1>
        <input type="text" [formControl]="questionCtrl" name="question" id="question">
        <button (click)="onSend()" [disabled]="questionCtrl.invalid" class="position-relative">
            <span *ngIf="!loading">TROUVER UNE REPONSE</span>
            <div *ngIf="loading" class="spinner-border loading" role="status"></div>
        </button>
        <p class="text-center fs-6 opacity-75 my-3">"{{quote}}" - <i>{{author}}</i></p>
    </div>
</div>
<div class="response border rounded-3 p-1"  *ngIf="response">
    <p class="fs-3">{{ response }}</p>
</div>
