<div class="container logIn colorBg">
    <div class="my-md-3 py-md-4"></div>
    <div class="row justify-content-around align-items-center p-1">
        <div class="col-md-5 col-12 my-1 mx-2 logoFormulaire">
            <img ngSrc="assets/images/logo.png" class="img-fluid"
                width="331" height="331" priority>
        </div>
        <div class="col-md-5 col-12">
            <div class="shadow p-1 my-1 formulaire">
                <div class="text_formulaire mt-4 mb-3">
                    <div class="fw-bold text-center fs-2">Soyez le bienvenu</div>
                </div>
                <form class="mt-1 mb-3 px-3 py-2" 
                    [formGroup]="logInForm" (ngSubmit)="onSubmit()">
                    <div class="form-floating mb-4 input">
                        <input type="email" class="form-control ps-4" id="identifiant" 
                            placeholder="Email ***" formControlName="identifiant">
                        <label for="identifiant" 
                            class="fw-bold ps-4 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                            </svg>
                            <span class="mx-2">Pseudonyme</span>
                        </label>
                    </div>
                    <div class="form-floating mb-3 input">
                        <input [type]="typeInput" class="form-control ps-4" id="password" 
                            placeholder="Mot de passe ***" formControlName="password">
                        <label for="password" 
                            class="fw-bold ps-4 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                            <span class="mx-2">Mot de passe</span>
                        </label>
                    </div>
    
                    <div class="form-check form-switch mx-3 checkbox">
                        <input class="form-check-input" type="checkbox" 
                            role="switch" id="show_password" 
                            (change)="onShowPassword($event)">
                        <label class="form-check-label mx-2" 
                            for="show_password">{{checkboxLabel | titlecase}} le mot de passe</label>
                    </div>
    
                    <div *ngIf="unauthorized" class="d-flex justify-content-center align-items-center mt-2 mb-1 text_error_handling">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                            fill="#ec0404f1" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg>
                        <span class="fw-bold mx-2">{{responseErreur}}</span>
                    </div>
    
                    <div class="d-flex justify-content-center align-items-center mt-3 mb-2 btnlogIn">
                        <button class="btn rounded-pill fw-bold py-2"
                            type="submit">Se connecter</button>
                        <div *ngIf="loading" class="rounded-pill text-center loader_spinner
                            d-flex justify-content-center align-items-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                    <div class="text-start mx-2 forgot_password">
                        <button class="btn btn-link" type="button" 
                            routerLink="/auth/forgot-password">J'ai oublié mon mot de passe</button>
                    </div>
                    <div class="text-start mx-2 inscrire">
                        <button class="btn btn-link" type="button" data-bs-toggle="modal" 
                            data-bs-target="#signUpModal" data-bs-whatever="@getbootstrap">
                            Demander à mes parents de me créer un compte
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <app-signup></app-signup> -->
