.title-block{
    display: inline-block;
    min-width: 50vw;
    margin: auto;
    margin-left: 2vw;
    height: fit-content;
}

.Animes{
    width: 75vw;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: 5px;
    padding: 5px;
}

.Anime{
    width: 90%;
    height: 30vh;
    border-bottom: grey solid 2px;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button{
        border: none;
        background-color: #0093b7;
        padding: 3px;
        width: 80px;
        height: 40px;
        color:white;

        &:hover{
            background-color: #046983;
        }
    }
    span{
        margin-left: 5px;
    }
}

.Locked{
    background-color: rgba(255, 0, 0, 0.662);

    iframe{
        filter: blur(8px);
        background-color: grey;
        cursor: not-allowed;
    }
}