<div class="d-flex justify-content-center">
    <div class="image-gif">
        <img src="assets/images/diamond-green.gif" alt="source">
    </div>
    <div class="title-block">
        <h1 class="text-center">Réclames tes récompenses ici !</h1>
        <p class="text-center fs-6 opacity-75 my-3">Tu as <b class="fs-3">721029</b> ZazaPoints</p>
    </div>
</div>
<div class="Animes">
    <div class="Anime">
        <div class="">
            <iframe class="rounded-3" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="Anime">
        <div class="">
            <iframe class="rounded-3" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="Anime">
        <div class="">
            <iframe class="rounded-3" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="Anime Locked">Dessin Anime 4 <button>Regarder</button></div>
    <div class="Anime Locked">Dessin Anime 5 <button>Regarder</button></div>
</div>
