<div class="d-flex justify-content-center">
    <div class="image-gif">
        <img src="assets/images/diamond-green.gif" alt="source">
    </div>
    <div class="title-block">
        <h1 class="text-center">Réclames tes récompenses ici !</h1>
        <p class="text-center fs-6 opacity-75 my-3">Tu as <b class="fs-3">3400</b> ZazaPoints</p>
    </div>
</div>
<div class="Animes">
    <div class="Anime">
        <div >
            <iframe style="display: inline-block;" class="rounded-3" src="https://www.youtube.com/embed/ZwDP7BUNKW4" frameborder="0" allowfullscreen></iframe>
        </div>
        <span><h3>Si on jouait aux vacances... naufragés - Kaeloo</h3></span>
    </div>
    <div class="Anime">
        <div >
            <iframe style="display: inline-block;"  class="rounded-3" src="https://www.youtube.com/embed/ghi9of1qdV4" frameborder="0" allowfullscreen></iframe>
        </div>
        <span><h3>Si on jouait au Prince Charmant - Kaeloo</h3></span>
    </div>
    <div class="Anime">
        <div >
            <iframe style="display: inline-block;" class="rounded-3" src="https://www.youtube.com/embed/sCHK3SLdR3o" frameborder="0" allowfullscreen></iframe>
        </div>
        <span><h3>Si on jouait aux economies - Kaeloo</h3></span>
    </div>
    <div class="Anime Locked">
        <div >
            <iframe style="display: inline-block;" class="rounded-3" src="https://www.youtube.com/embed/9k4ga8EF4ko " frameborder="0" allowfullscreen></iframe>
        </div>
        <span><h4>Si on jouait aux journalistes d'investigation - Kaeloo</h4><h6 class="text-center" style="color: white;">1000ZazaPoints pour debloquer</h6> </span>
    </div>
    <div class="Anime Locked">
        <div >
            <iframe style="display: inline-block;" class="rounded-3" src="https://www.youtube.com/embed/Pus7-dlCZpQ " frameborder="0" allowfullscreen></iframe>
        </div>
        <span><h4>Si on jouait au mecano quantique - Kaeloo</h4><h6 class="text-center" style="color: white;">1000ZazaPoints pour debloquer</h6></span>    
    </div>
</div>
