<header class="my-1 px-md-3 px-1 py-2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-7 d-flex justify-content-start">
                <div class="d-flex align-items-center logo" id="logo">
                    <span class="p-1 position-relative">
                        <img ngSrc="assets/images/logo.png" alt="nodejs" 
                            class="mx-1" width="41" height="41" priority>
                    </span>
                    <span class="fs-5 fw-bold mx-md-3 ms-2">Jeunes-S</span>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-end">
                <div class="d-flex align-items-center
                    justify-content-center rounded-pill p-1 session" id="session">
                    <span class="p-1 rounded-circle position-relative">
                        <img ngSrc="assets/images/logo.png" alt="lahatra3"
                            class="" width="23" height="23" priority>
                    </span>
                    <span class="mx-2">lahatra3</span>
                </div>
            </div>
        </div>
    </div>
</header>
